<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN_COLOR">
            %style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level]}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=blue} %style{(%logger{1})}{cyan} %highlight{%msg%n}{FATAL=red, ERROR=red, WARN=normal, INFO=normal, DEBUG=normal, TRACE=normal}
        </Property>
        <Property name="LOG_PATTERN">
            [%d{HH:mm:ss}] [%t/%level] (%logger{1}) %msg%n
        </Property>
        <property name="LOG_PATH">logs/${date:yyyy-MM-dd-HH-mm-ss}.log</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_COLOR}" disableAnsi="false"/>
        </Console>

        <File name="File" fileName="${LOG_PATH}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>